.git
.github
**/node_modules
**/.next
**/.turbo
**/dist
*.db
*.db-shm
*.db-wal
**/.env
**/.env.local
README.md
docker-compose.override.yml
docker-compose.prod.yml
*.test.ts
*.spec.ts
e2e
.vscode
.idea
*.local
.DS_Store
